<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}

        <form>
            <input class='location' type="text" placeholder="location">
            <button class='search'>Search</button>
            <a href="/details" class ='detailed_view hidden'>More Details</a>
            <p class = 'location_found'>Location: </p>
            <p class="temperature">Temperature: </p>
            <p class="weather_description">Description:</p>
            <p class="chance_of_rain">Chance of rain:</p>
            <p class="error"></p>   
            <img class="weather_icon" src="" alt="">   
            
        </form>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>